rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId
    }

    match /trails/{trailId} {
      allow read;
      allow create: if request.auth != null
      allow update, delete: if request.auth.uid == resource.data.editor

      match /stations/{stationId} {

				function trailExists() {
        	let path = /databases/$(database)/documents/trails/$(trailId);
          return exists(path)
        }
        
        function getRoot() {
          let path = /databases/$(database)/documents/trails/$(trailId);
          return get(path);
        }
        
        function isEditor() {
        	let root = getRoot();
          return root == null || root.data.editor == request.auth.uid;
        }

        allow read;
        allow write: if !trailExists() || isEditor()
      }
    }
  }
}